<footer class="footer">
    <section class="footer-container container">
       <a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}
       <a href="https://www.twitter.com/sdj2964" class="twitter">
            {{> icons/twitter}}
       </a>
       <a href="https://www.github.com/scottdj92">
            {{> icons/github}}
       </a>
    </section>
</footer>
