<header class="header container">
    <section>
        <h1 class="title">{{title}}</h1>
        <time class="time" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMMM YYYY"}}</time>
    </section>
</header>
