.post-list {
    padding: 25px 0;

    .excerpt {
        margin-top: 15px;
    }

    .post-image {
        border-radius: 5px;
        background-position: center;
        height: 400px;
    }

    .post-title {
        display: inline;
        font-family: "Fira Code", monospace;
        font-size: 2rem;
    }

    .time-posted {
        margin-left: 10px;
    }
}
